<p id="notice"><%= notice %></p>

<p>
  <strong>Channelname:</strong>
  <%= @channel.channelName %>
</p>

<p>
  <strong>Fid:</strong>
  <%= @channel.fid %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @channel.sort %>
</p>

<p>
  <strong>Url:</strong>
  <%= @channel.url %>
</p>

<p>
  <strong>Imagesrc:</strong>
  <%= @channel.imageSrc %>
</p>

<p>
  <strong>Filesrc:</strong>
  <%= @channel.fileSrc %>
</p>

<p>
  <strong>Videosrc:</strong>
  <%= @channel.videoSrc %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @channel.hits %>
</p>

<p>
  <strong>Content:</strong>
  <%= @channel.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @channel.tags %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Addtime:</strong>
  <%= @channel.addtime %>
</p>

<p>
  <strong>Group:</strong>
  <%= @channel.group %>
</p>

<p>
  <strong>Status:</strong>
  <%= @channel.status %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
